@charset "utf-8";

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
}

/* Login Page */
.login-container {
    width: 300px;
    height: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

h2 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc; /* Added border for input fields */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 14px; /* Adjusted font size for error message */
}

/* Home Page */

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #f4f4f4;
}

.main-content {
    max-width: 1200px;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}

.profile,
.connections,
.suggestions {
    flex-basis: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow for sections */
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.connections ul,
.suggestions ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .profile,
    .connections,
    .suggestions {
        width: 100%;
        margin-bottom: 20px;
    }
}
